<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--映射数据库字段不区分大小写-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>